django==5.1.2
django-cors-headers==4.5.0
django-environ==0.11.2
django-json-widget==2.0.1
django-nanoid-field==0.1.4
django-ninja==1.3.0
django-ratelimit==4.1.0
email-validator==2.2.0
psycopg[binary]==3.2.3
nanoid==2.0.0
whitenoise==6.7.0
uvicorn==0.32.0
ruff==0.7.0